html, body {width:100%; height:100%; font-size:1rem; font-family:Arial,Verdana,sans-serif;}
body {position:fixed; overflow:hidden;}
* {margin:0; padding:0; box-sizing: border-box; outline:0;}
ul {list-style:none;}

.icon {font-size:1.25rem;}

/** LOGIN **/
#login {width:100%; height:100%; background-color:#f1f1f1; transition:1s; position:absolute; top:-100%; left:0; z-index:3;}
#login.popover-open {top:0; transition:1s;}
#login .login-title {height:50px; line-height:50px; text-align:center; text-transform:uppercase;}
#login input
    , #login select {display:block; width:95%; margin:5px auto; height:40px; line-height:40px; padding:0 5px;}
#login input[type=button] {background-color:skyblue; border:1px solid #444; font-size:1rem;}

/** WRAPPER **/
#wrapper {transition: 1s; left: 0; width:100%; height:100%; overflow: hidden; position:relative; z-index:0;}
#wrapper.open-nav-left {position:absolute; width:100%; left:225px; transition:1s;}
#wrapper.open-nav-right {position:absolute; width:100%; left:-225px; transition:1s;}

/** HEADER **/
header {width:100%; height:50px; line-height:50px; border-bottom:1px solid #ddd; background-color:#f1f1f1; position:fixed; z-index:1;
-moz-box-shadow: 1px 0px 5px 0px #454545;
-webkit-box-shadow: 1px 0px 5px 0px #454545;
-o-box-shadow: 1px 0px 5px 0px #454545;
box-shadow: 1px 0px 5px 0px #454545;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#454545, Direction=180, Strength=10);}
header .header-nav {background-color:transparent; border:0; padding:0 10px; height:100%; position: absolute; top:0; left:0;}
header .header-group {background-color:transparent; border:0; padding:0 10px; height:100%; position: absolute; top:0; right:0;}
header .header-title {font-size:1.5rem; text-transform:uppercase; text-align: center;}
header .header-title:after {display:inline-block; content:""; width: 0; height: 0; border-style: solid; border-width: 5px 5px 0 5px; border-color: black transparent transparent transparent; position:relative; top:-5px;}

header .about-links {display:none; background-color:#DDD; border-radius:10px; width:200px; margin:0 auto; position:relative; padding:10px 0;
-moz-box-shadow: 0px 0px 5px 0px #656565;
-webkit-box-shadow: 0px 0px 5px 0px #656565;
-o-box-shadow: 0px 0px 5px 0px #656565;
box-shadow: 0px 0px 5px 0px #656565;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=10);}
header .popover-open:before {content:""; position:absolute; left:80px; top:-15px; width: 0; height: 0; border-style: solid; border-width: 0 15px 15px 15px; border-color: transparent transparent #DDD transparent;}
header .popover-open.about-links {display:block;}
header .about-links .item {padding:0 10px; height:30px; line-height:30px; font-size:1rem;}

/** NAV **/
.slide-nav {position: absolute; top:0; width:225px; height:100%; transition: 1s; z-index:2;}
.slide-nav .overflow-nav {position:relative; overflow:scroll; width:100%; height:100%;}
.slide-nav .nav-title {font-size:1rem; height:50px; line-height:50px; text-align:center; text-transform:uppercase; border-bottom:1px solid #ddd;}
#slide-nav-left {left: -225px; background-color:#666;
-moz-box-shadow: inset -5px 0px 10px 0px #454545;
-webkit-box-shadow: inset -5px 0px 10px 0px #454545;
-o-box-shadow: inset -5px 0px 10px 0px #454545;
box-shadow: inset -5px 0px 10px 0px #454545;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#454545, Direction=180, Strength=10);}
#slide-nav-right {right: -225px; background-color:#f1f1f1;
-moz-box-shadow: inset 5px 0px 10px 0px #ddd;
-webkit-box-shadow: inset 5px 0px 10px 0px #ddd;
-o-box-shadow: inset 5px 0px 10px 0px #ddd;
box-shadow: inset 5px 0px 10px 0px #ddd;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#ddd, Direction=180, Strength=10);}
#slide-nav-left.open-nav-left {transition: 1s; left: 0;}
#slide-nav-right.open-nav-right {transition: 1s; right: 0;}
.slide-nav .item-list .item {color:#999; font-size:0.875rem; padding:0 5px 0 15px; font-weight:100; font-size:0.75rem;}
#slide-nav-left .item-list .item {height:30px; line-height:30px;}
#slide-nav-right .item-list .item {padding:5px 25px 5px 15px;}
.slide-nav .item-list .item.admin:before {content:"●"; margin-right:5px; color:red; font-size:1rem;}
.slide-nav .item-list .item.modo:before {content:"●"; margin-right:5px; color:green; font-size:1rem;}
.slide-nav .item-list .item.bot:before {content:"●"; margin-right:5px; color:skyblue; font-size:1rem;}
#slide-nav-left .item-list .item:before {content:"\2022"; margin-right:5px; opacity:0.3;}
#slide-nav-left .item-list .new.item:before {opacity:1;}
.slide-nav .item-list .new {font-weight:600; color:white;}
.slide-nav .item-list .item-divider {color:white; text-transform: uppercase; font-size:0.75rem; padding:0 5px; margin-top:20px; border-bottom:1px solid #ddd;}
#slide-nav-right .item-list .item-divider {color:black; text-align: center;}
.slide-nav .item-list .item-divider:before {content:"";}
#slide-nav-right .item-list .item {display:none;}
#slide-nav-right .item-list .item-divider
    , #slide-nav-right .dropdown-open .item {display:block;}
#slide-nav-right .item-list .item-divider:after {display:inline-block; content:""; width: 0; height: 0; border-style: solid; border-width: 5px 0 5px 5px; border-color: transparent transparent transparent black; position:relative; top:0px; margin-left:5px;}
#slide-nav-right .dropdown-open .item-divider:after {display:inline-block; content:""; width: 0; height: 0; border-style: solid; border-width: 5px 5px 0 5px; border-color: black transparent transparent transparent; position:relative; top:-2px; margin-left:5px;}

section {height:100%; width:100%; overflow:scroll; padding:55px 5px 50px; position:relative;}
section .line {font-size:0.875rem;}
section .line [class^="line-"]
    , section .line [class*="line-"] {display:inline-block;}
section .line .line-arrow .icon-arrow-up {font-size:1rem; color:dodgerblue;}
section .line .line-arrow .icon-arrow-down {font-size:1rem; color:darkorange;}

section .popover-smileys {display:none; width:98%; height:70%; background-color:#f1f1f1; border:2px solid #444; border-radius:10px; position:absolute; top:60px; margin:0 auto;}
section .popover-smileys .popover-title {font-size:1.25rem; text-transform:uppercase; height:40px; line-height:40px; padding:0 10px; border-bottom:1px solid #999;}
section .popover-smileys .smileys-list {padding:10px 0;}
section .popover-smileys .smileys-list .add-link {display:inline-block; padding:5px 10px;}
section .popover-smileys.popover-open {display:block;}

#about-user {width:100%; height:100%; position:absolute; top:100%; left:0; transition:1s; background-color:#f1f1f1; z-index:3;}
#about-user.popover-open {top:0; transition:1s;}
#about-user .user-name {height:50px; line-height:50px; text-align:center; position:relative; width:100%;}
#about-user .user-name .user-close-btn {height:100%; position:absolute; top:0; left:10px; background-color:transparent; border:0;}
#about-user .item-list {margin-top:20px;}
#about-user .item-list .item {height:40px; line-height:40px; background-color:white; border-bottom:1px solid #d3d3d3; padding:0 5px;}
#about-user .item-list .item:first-child {border-top:1px solid #d3d3d3;}
#about-user .item-list .item .icon {margin:0 10px;}

footer {position:fixed; bottom:0; left:0; height:40px; width:100%;}
footer .msg-input {width:100%; height:40px; line-height:40px; border-radius:3px; border:1px solid #ddd; padding:0 5px; box-shadow:none;}
footer .msg-smiley {position:absolute; top:0; right:0; border:0; background-color:transparent; color:#888; width:50px; height:100%; text-align:center;}


