html, body {width:100%; height:100%; position:relative; font-size:1rem; font-family:Arial,Verdana,sans-serif;}
body {position:fixed; overflow:hidden;}
* {margin:0; padding:0; box-sizing: border-box; outline:0;}
ul {list-style:none;}

pre {white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word; width:99%;overflow:auto;margin: 5px 0; padding: 5px 5px 5px 10px; color: #3f3b36; border: 1px solid #f5d995; border-left: 1rem solid #f5d995; font: lighter 12px Monaco,'MonacoRegular',monospace;}
pre > span {display: block; background:transparent url(../img/bg-pre.jpg) repeat; padding:0 5px;}

.icon {font-size:1.25rem;}

.ng-scope {height:100%; width:100%;}

/** LOGIN **/
#login {width:100%; height:100%; background-color:#f1f1f1; transition:1s; position:absolute; top:-100%; left:0; z-index:3;}
#login.popover-open {top:0; transition:1s;}
#login .login-title {height:50px; line-height:50px; text-align:center; text-transform:uppercase;}
#login input
    , #login select {display:block; width:95%; margin:5px auto; height:40px; line-height:40px; padding:0 5px;}
#login input[type=button] {background-color:skyblue; border:1px solid #444; font-size:1rem;}
#login .identMessage {display:none; text-align:center; font-size:1rem; background-color:rgba(255, 0, 0, 0.2); border:1px solid #FF0000; color:#FF0000; padding:5px 10px; width:80%; margin:0 auto;}
#login .identMessage.active {display:block;}

/** WRAPPER **/
#wrapper {transition: 0.5s; left: 0; width:100%; height:100%; overflow: hidden; position:relative; z-index:0;}
#wrapper.open-nav.left {position:absolute; width:100%; left:225px; transition:0.5s;}
#wrapper.open-nav.right {position:absolute; width:100%; left:-225px; transition:0.5s;}

/** HEADER **/
header {width:100%; height:50px; line-height:50px; border-bottom:1px solid #ddd; background-color:#f1f1f1; position:fixed; z-index:1;
-moz-box-shadow: 1px 0px 5px 0px #454545;
-webkit-box-shadow: 1px 0px 5px 0px #454545;
-o-box-shadow: 1px 0px 5px 0px #454545;
box-shadow: 1px 0px 5px 0px #454545;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#454545, Direction=180, Strength=10);}
header .header-nav {background-color:transparent; border:0; padding:0 10px; height:100%; position: absolute; top:0; left:0;}
header .header-nav .pellet-pvs {background-color:red; color:white; text-align: center; border-radius:10px; width:20px; height:20px; line-height:20px; display:none; position:absolute; top:5px; right:10px;}
header .header-nav .pellet-pvs.new-pvs {display:block;}
header .header-nav .icon {font-size:2rem;}
header .header-group {background-color:transparent; border:0; padding:0 10px; height:100%; position: absolute; top:0; right:0;}
header .header-title {font-size:1.5rem; text-transform:uppercase; text-align: center;}
header .header-title:after {display:inline-block; content:""; width: 0; height: 0; border-style: solid; border-width: 5px 5px 0 5px; border-color: black transparent transparent transparent; position:relative; top:-5px; left:5px;}

header .about-links {display:none; background-color:#DDD; border-radius:10px; width:200px; margin:0 auto; position:relative; padding:10px 0;
-moz-box-shadow: 0px 0px 5px 0px #656565;
-webkit-box-shadow: 0px 0px 5px 0px #656565;
-o-box-shadow: 0px 0px 5px 0px #656565;
box-shadow: 0px 0px 5px 0px #656565;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=10);}
header .popover-open:before {content:""; position:absolute; left:80px; top:-15px; width: 0; height: 0; border-style: solid; border-width: 0 15px 15px 15px; border-color: transparent transparent #DDD transparent;}
header .popover-open.about-links {display:block;}
header .about-links .item {padding:0 10px; height:30px; line-height:30px; font-size:1rem;}

/** NAV **/
.slide-nav {position: absolute; top:0; width:225px; height:100%; transition: 0.5s; z-index:2;}
.slide-nav .overflow-nav {position:relative; overflow:scroll; width:100%; height:100%;}
.slide-nav .nav-title {font-size:1rem; height:50px; line-height:50px; text-align:center; text-transform:uppercase; border-bottom:1px solid #ddd;}
.slide-nav .item-list .new {font-weight:600; color:white;}
.slide-nav .item-list .item-divider {color:white; text-transform: uppercase; font-size:0.75rem; padding:0 5px; margin-top:20px; border-bottom:1px solid #ddd;}
.slide-nav .item-list .item-divider:before {content:"";}
.slide-nav .item-list .item {color:#999; font-size:0.875rem; padding:0 5px 0 15px; font-weight:100; font-size:0.75rem; height:30px; line-height:30px;}

#slide-nav-left {left: -225px; background-color:#666;
-moz-box-shadow: inset -5px 0px 10px 0px #454545;
-webkit-box-shadow: inset -5px 0px 10px 0px #454545;
-o-box-shadow: inset -5px 0px 10px 0px #454545;
box-shadow: inset -5px 0px 10px 0px #454545;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#454545, Direction=180, Strength=10);}
#slide-nav-left h3 {color:white; text-transform: uppercase; font-size:0.75rem; padding:0 5px; margin-top:20px; border-bottom:1px solid #ddd;}
#slide-nav-left.open-nav {transition: 0.5s; left: 0;}
#slide-nav-left .item-list .item:before {content:"\2022"; margin-right:5px; opacity:0.3;}
#slide-nav-left .item-list .new {color:white;}
#slide-nav-left .item-list .active {color:skyblue;}
#slide-nav-left .item-list .new.item:before {opacity:1;}
#slide-nav-left .logout {background-color:#f1f1f1; border:0; border-top:1px solid #ddd; border-bottom:1px solid #ddd; height:40px; line-height:40px; width:100%; font-size:1rem; margin-top:20px; text-align:left; padding:0 5px;}

#slide-nav-right {right: -225px; background-color:#f1f1f1;
-moz-box-shadow: inset 5px 0px 10px 0px #ddd;
-webkit-box-shadow: inset 5px 0px 10px 0px #ddd;
-o-box-shadow: inset 5px 0px 10px 0px #ddd;
box-shadow: inset 5px 0px 10px 0px #ddd;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#ddd, Direction=180, Strength=10);}
#slide-nav-right.open-nav {transition: 0.5s; right: 0;}

#slide-nav-right .users-list a {display:block; text-decoration:none; padding:5px 25px 5px 15px; color:#999; font-size:0.875rem; font-weight:100; font-size:0.75rem;}
#slide-nav-right .users-list a.nomSalon {color:black; text-align: center;text-transform: uppercase; font-size:0.75rem; padding:5px; margin-top:20px; border-bottom:1px solid #ddd;}
#slide-nav-right .users-list a .icone-niv4:before {content:"●"; margin-right:5px; color:red; font-size:1rem;}
#slide-nav-right .users-list a .icone-niv3:before {content:"●"; margin-right:5px; color:green; font-size:1rem;}
#slide-nav-right .users-list a .icone-niv2:before {content:"●"; margin-right:5px; color:skyblue; font-size:1rem;}

#slide-nav-right .item-list .item .icon {font-size:1rem; margin-right:5px;}
#slide-nav-right .item-list .item {display:none;}
#slide-nav-right .item-list .item-divider
    , #slide-nav-right .dropdown-open .item {display:block;}
#slide-nav-right .item-list .item-divider:after {display:inline-block; content:""; width: 0; height: 0; border-style: solid; border-width: 5px 0 5px 5px; border-color: transparent transparent transparent black; position:relative; top:0px; margin-left:5px;}
#slide-nav-right .dropdown-open .item-divider:after {display:inline-block; content:""; width: 0; height: 0; border-style: solid; border-width: 5px 5px 0 5px; border-color: black transparent transparent transparent; position:relative; top:-2px; margin-left:5px;}

section {height:100%; width:100%; overflow:scroll; padding:55px 5px 90px; position:relative;}
section .conv {display:none; height:100%; overflow:scroll;}
section .open-conv {display:block;}
section .line .notification {color:skyblue; font-style: italic; font-size:0.75rem; margin-bottom:10px;}
section .line {font-size:0.875rem;}
section .line [class^="line-"]
    , section .line [class*="line-"] {display:inline-block;}
section .line .line-arrow .icon-arrow-up {font-size:1rem; color:dodgerblue;}
section .line .line-arrow .icon-arrow-down {font-size:1rem; color:darkorange;}
section .line .citation {font-family: Georgia, serif; font-size: 12px; font-style: italic; width: 99%; margin: 0.25em 0; padding: 0.25em 40px; line-height: 1.45; position: relative; color: #383838; border: 1px solid #f2f2f2;}
section .line .citation:before {display: block; content: "\201C"; font-size: 60px; position: absolute; left: 0px; top: -15px; color: #7a7a7a;}

.popover-smileys {display:none; width:98%; height:70%; overflow:scroll; background-color:#f1f1f1; border:2px solid #444; border-radius:10px; position:absolute; bottom:90px; margin:0 auto;}
.popover-smileys .popover-title {font-size:1.25rem; text-transform:uppercase; height:40px; line-height:40px; padding:0 10px; border-bottom:1px solid #999;}
.popover-smileys .smileys-container .list-smileys a {padding:5px 10px;}
.popover-smileys.popover-open {display:block;}

#about-user {width:100%; height:100%; position:absolute; top:100%; left:0; transition:1s; background-color:#f1f1f1; z-index:3;}
#about-user.popover-open {top:0; transition:1s;}
#about-user .user-name {height:50px; line-height:50px; text-align:center; position:relative; width:100%;}
#about-user .user-name .user-close-btn {height:100%; position:absolute; top:0; left:10px; background-color:transparent; border:0;}
#about-user .item-list {margin-top:20px;}
#about-user .item-list .item {min-height:40px; line-height:40px; background-color:white; border-bottom:1px solid #d3d3d3; padding:0 5px;}
#about-user .item-list .item:first-child {border-top:1px solid #d3d3d3;}
#about-user .item-list .item .icon {margin:0 10px;}
#about-user .item-list .item.accordion {}
#about-user .item-list .item .sublist-item {height: auto; overflow: hidden; max-height: 50em; -webkit-transition: max-height 0.5s; transition: max-height 0.5s;}
#about-user .item-list .item .sublist-item.is-collapsed {max-height:0;}
#about-user .item-list .item .sublist-item.accordionIn {display:block;}
#about-user .item-list .item .sublist-item .item {line-height:1.25rem; font-size:0.65rem; padding:10px 5px;}
#about-user .item-list .item .sublist-item .item:last-child {border-bottom:0;}
#about-user .item-list .item .sublist-item .item b {font-size:1rem; margin-left:10px;}

.checkbox{display:none}
.switch{display: inline-block; width: 31px; height: 16px; background: #E5E5E5; z-index: 0; margin: 0; padding: 0; appearance: none; border: none; cursor: pointer; position: relative; border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px;}
.switch:before{content: ' ';position: absolute;left: 1px;top: 1px;width: 30px;height: 15px;background: #FFFFFF;z-index: 1;border-radius:8px; -moz-border-radius:16px; -webkit-border-radius:8px;}
.switch:after {content: ' '; height: 14px; width: 14px; border-radius: 14px; background: #FFFFFF; position: absolute; z-index: 2; top: 1px; left: 1px; -webkit-transition-duration: 300ms; transition-duration: 300ms; -webkit-box-shadow: 0 2px 5px #999999; box-shadow: 0 2px 5px #999999;}
.switchOn , .switchOn:before{background: #4cd964 !important;}
.switchOn:after{left: 21px !important;}

footer {position:fixed; bottom:0; left:0; height:80px; width:100%;}
footer .msg-input {width:calc(100% - 50px); height:40px; line-height:40px; border-radius:3px; border:1px solid #ddd; padding:0 5px; box-shadow:none;}
footer .msg-send {width:50px; height:40px; line-height: 40px; border:1px solid #444; background-color:transparent; position:absolute; right:0; top:0; font-size:24px; color:#444;}
footer .footer-toolbar .toolbar-btn {background-color:#444; color:white; border:0; width:50%; height:40px; text-align:center; float:left;}
footer .footer-toolbar .msg-tools {border-right:1px solid white;}
