<ul id="popOpt" class="item-list">
    <li class="item" ng-repeat="menu in aboutUser.data" ng-class="{accordion: menu.multiple==true}">
        <a ng-disabled="checked" ng-click="checkAccordion(menu.multiple, $event, menu);">
            <i class="icon {{menu.icon}}"></i>
            {{menu.title}}
        </a>
        <ul ng-hide class="sublist-item is-collapsed">
            <li class="item" ng-repeat="item in menu.items" ng-click="checkStatus(item);" ng-class="{disabled: item[aboutUser.isIgnore]==undefined}">
                <input type="checkbox" name="checkboxName" class="checkbox" />
                <div class="switch" ng-class="{switchOn: aboutUser.switchOn==true && item[aboutUser.isIgnore]!=undefined}"></div>
                <b>{{item.title}}</b>
                {{item.desc}}
            </li>
        </ul>
    </li>
</ul>
