<div id="chat">
    <nav id="slide-nav-left" class="slide-nav">
        <div class="overflow-nav">
            <h3>Salons</h3>
            <ul id="channels-list" class="item-list">

            </ul>
            <h3>Messages privés</h3>
            <ul id="msg-private-list" class="item-list"></ul>
            <button class="logout" ng-click="logout();">
                <i class="icon icon-exit"></i>
            Se déconnecter

            </button>
        </div>
    </nav>
    <nav id="slide-nav-right" class="slide-nav">
        <div class="overflow-nav">
            <h2 class="nav-title">Liste des connectés</h2>
            <div id="users-list" class="users-list"></div>
        </div>
    </nav>
    <div id="content">
        <header>
            <button class="header-nav" onclick="Mobile.slideNav('left')">
                <span id="pellet-pvs" class="pellet-pvs"></span>
                <i class="icon icon-dvp-logo"></i>
            </button>
            <h1 id="header-title" class="header-title" ng-bind-html="toTrustedHTML(data.nomSalon)"></h1>
            <button class="header-group" onclick="Mobile.slideNav('right')">
                <i class="icon icon-users"></i>
            </button>
        </header>
        <section id="conversations" hm-Swipe-Right="myNavSwipeRight();" hm-Swipe-Left="myNavSwipeLeft();">
            <div id="conv-0" class="conv open-conv"></div>
        </section>
        <footer>
           <form id="send_form">
               <input type="text" placeholder="Message.." value="" autocomplete="off" class="msg-input" id="msg_input" ng-model="msg" ng-keyup="keyEnter($event.keyCode)" />
               <button type="text" class="msg-clean" ng-hide="showClean">
                   <i class="icon icon-cancel-circle"></i>
               </button>
               <nav class="footer-toolbar">
                   <button type="text" class="toolbar-btn msg-tools" ng-click="aboutOptions();">
                       <i class="icon icon-cog"></i>
                   </button>
                   <button type="text" class="toolbar-btn msg-smiley" onclick="Mobile.popover('popover-smileys');">
                       <i class="icon icon-smile"></i>
                   </button>
                   <button class="toolbar-btn msg-send" ng-click="send();">
                       <i class="icon icon-share"></i>
                   </button>
               </nav>
           </form>
        </footer>
    </div>
</div>

<div id="popover-smileys" class="popover-smileys">
    <h2 class="popover-title">Mes smileys favoris</h2>
    <div class="smileys-container">
        <div id="list-smileys-chat" class="list-smileys">
            <a href="#" onclick="Mobile.smileToMsg(this); return false;" ng-repeat="(key, value) in data.anoSmileys" title="{{value}}">
                <img src="{{data.proxyURI}}images/smileys/{{key}}" alt="{{value}}" />
            </a>
        </div>
        <div id="list-smileys-perso" class="list-smileys" ng-bind-html="toTrustedHTML(data.smileys)"></div>
    </div>
</div>

<div id="about-user" hm-Swipe-Down="myPopoverSwipeDown();">
    <h3 class="user-name">
        <button class="user-close-btn" onclick="Mobile.removeClass('about-user', 'popover-open')">Fermer</button>
        <span id="user-pseudo"></span>
    </h3>
    <div ng-include src="'templates/modules/menu-about-user.html'"></div>
</div>
