@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-9dmhqy');
	src:url('fonts/icomoon.eot?#iefix-9dmhqy') format('embedded-opentype'),
		url('fonts/icomoon.woff?-9dmhqy') format('woff'),
		url('fonts/icomoon.ttf?-9dmhqy') format('truetype'),
		url('fonts/icomoon.svg?-9dmhqy#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-beer:before {
	content: "\e601";
}

.icon-dvp-logo:before {
	content: "\e600";
}

.icon-bubble2:before {
	content: "\e96e";
}

.icon-bubbles3:before {
	content: "\e96f";
}

.icon-user:before {
	content: "\e971";
}

.icon-users:before {
	content: "\e972";
}

.icon-user-minus:before {
	content: "\e974";
}

.icon-menu:before {
	content: "\e9bd";
}

.icon-upload2:before {
	content: "\e9c6";
}

.icon-smile:before {
	content: "\e9e1";
}

.icon-cross:before {
	content: "\ea0f";
}

.icon-arrow-up:before {
	content: "\ea32";
}

.icon-arrow-down:before {
	content: "\ea36";
}

.icon-radio-checked2:before {
	content: "\ea55";
}

.icon-image:before {
	content: "\e90d";
}

.icon-music:before {
	content: "\e911";
}

.icon-global:before {
	content: "\e91a";
}

.icon-rules:before {
	content: "\e91f";
}

.icon-moddir:before {
	content: "\e985";
}

.icon-jail:before {
	content: "\e98f";
}

.icon-free:before {
	content: "\e990";
}

.icon-status:before {
	content: "\e9ca";
}

.icon-about:before {
	content: "\ea0c";
}

.icon-unmute:before {
	content: "\ea28";
}

.icon-mute:before {
	content: "\ea2a";
}

.icon-github:before {
	content: "\eab1";
}

.icon-pacman:before {
	content: "\e916";
}

.icon-database:before {
	content: "\e964";
}

.icon-cog:before {
	content: "\e994";
}

.icon-bug:before {
	content: "\e999";
}

.icon-enter:before {
	content: "\ea13";
}

.icon-exit:before {
	content: "\ea14";
}

.icon-circle-right:before {
	content: "\ea42";
}

.icon-share:before {
	content: "\ea7d";
}

.icon-terminal:before {
	content: "\ea81";
}

